{% extends 'base.html.twig' %}

{% block title 'Ajout de commande' %}

{% block body %}
    <div class="container w-50">
        {{ form_start(form) }}
            {{ form_widget(form) }}

            <div class="row">
                <button type="submit" class="btn btn-lg btn-secondary text-dark col m-1">AJOUTER</button>
                <button class="btn btn-lg btn-dark col m-1">
                    <a href="{{ path('generate_bill') }}" class="text-decoration-none">Facture</a>
                </button>
            </div>
        {{ form_end(form) }}
    </div>
{% endblock %}
