{% extends "base.html.twig" %}

{% block title 'commande '~commande.id %}

{% block body %}
    <div class="container w-50">
        {{ form_start(form) }}
            {{ form_widget(form) }}

            <div class="row">
                <input class="btn btn-primary" type="submit" value="Modifier">
            </div>
        {{ form_end(form) }}
    </div>
{% endblock %}